<VirtualHost *:80>
    ServerName {{ mailman_host }}
    RedirectPermanent / https://{{ mailman_host }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ mailman_host }}

    ServerAdmin webmaster@{{ mailman_host }}

    DocumentRoot {{ mailman_web_root }}

    Alias /robots.txt {{ mailman_web_root }}/robots.txt
    Alias /favicon.ico {{ mailman_web_root }}/favicon.ico
    Alias /static {{ mailman_web_root }}

    <Directory {{ mailman_web_root }}>
        Require all granted
        Options -MultiViews -Indexes
    </Directory>

    ProxyPass /static !
    ProxyPass / uwsgi://127.0.0.1:3080/

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ mailman_host }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ mailman_host }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ mailman_host }}/chain.pem
</VirtualHost>
