{#<VirtualHost *:80>#}
{#    ServerName {{ hostname }}#}
{#    ServerAlias www.{{ hostname }}#}
{#    RedirectPermanent / https://{{ hostname }}/#}
{#</VirtualHost>#}

<VirtualHost *:80>
    ServerName {{ mailman_host }}
    ServerAlias www.{{ mailman_host }}

    ServerAdmin webmaster@{{ mailman_host }}

    DocumentRoot {{ mailman_web_root }}

    Alias /robots.txt {{ mailman_web_root }}/robots.txt
    Alias /favicon.ico {{ mailman_web_root }}/favicon.ico
    Alias /static {{ mailman_web_root }}
{#    Alias /media {{ media_root }}#}

    <Directory {{ mailman_web_root }}>
        Require all granted
        Options -MultiViews -Indexes
    </Directory>

{#    <Directory {{ media_root }}>#}
{#        Require all granted#}
{#        Options -MultiViews -Indexes#}
{#    </Directory>#}

    ProxyPass /static !
{#    ProxyPass /media !#}
    ProxyPass / uwsgi://127.0.0.1:3080/

{#    SSLEngine on#}
{#    SSLCertificateFile /etc/ssl/certs/{{ hostname }}.crt#}
{#    SSLCertificateKeyFile /etc/ssl/private/{{ hostname }}.key#}
{#    SSLCertificateChainFile /etc/ssl/certs/{{ hostname }}.chain.pem#}
</VirtualHost>
